# Online trial configuration file

DEBUG = True
SERVER_NAME = 'localhost:5000'
POSTGRES_DSN = 'dbname=XXX'

RAVELLO_USERNAME = 'email'
RAVELLO_PASSWORD = 'password'

PUBLISH_CLOUD = 'AMAZON'
PUBLISH_REGION = 'Virginia'
PUBLISH_OPTIMIZATION = 'PERFORMANCE_OPTIMIZED'

MAIL_FROM = 'me@example.com'
MAIL_BCC = 'bcc@example.com'

MAILGUN_KEY = 'xxxxx'
MAILGUN_DOMAIN = 'example.com'

# Per trial settings
TRIALS = ['acme']

ACME_TITLE = 'Acme Stack'
ACME_HEADER = 'Welcome to Acme Stack!'
ACME_INTRO = 'We are the most advanced OpenStack in business. Please fill out the form below and you will be able to get <strong>instant</strong> access to an <em>Online Trial</em> verion of AcmeStack!' 
ACME_DURATION = 21
ACME_AUTOSTOP = 10
ACME_BLUEPRINT = '48726195'
ACME_CLOUDINIT = False
ACME_SSH_KEY = 'keys/id_trial'
ACME_SSH_TIMEOUT = 300
ACME_SERVICE = 'http'
ACME_SERVICE_TIMEOUT = 300
ACME_REBOOT = True
ACME_REBOOT_DELAY = 120
ACME_REBOOT_TIMEOUT = 30
ACME_FINAL_DELAY = 300
ACME_TOTAL_TIME = 20

#ACME_RAVELLO_USERNAME = 'email'
#ACME_RAVELLO_PASSWORD = 'password'
#
#ACME_PUBLISH_CLOUD = 'HP'
#ACME_PUBLISH_REGION + 'xxx'
#ACME_PUBLISH_OPTIMIZATION = 'COST_OPTIMIZED'
